<h1>Welcome to Mails List</h1>

<fieldset>
    <legend>Subscribe to the Newsletter</legend>

    <form action="/v1/registermail" method="POST">
        <div>
            <label for="mail">E-mail</label>
            <input id="mail" name="Mail" type="text">
        </div>

        <div>
            <label for="name">Full name</label>
            <input id="name" name="Name" type="text">
        </div>

        <button type="submit">Submit</button>
    </form>
</fieldset>