<table>
    <thead>
        <tr>
			<th>Full name</th>
			<th>Mail address</th>
			<th>Action</th>
        </tr>
    </thead>

    <tbody>
        <%

        for(let item of options?.list)
        {
            %>

            <tr>
				<td><%= item.Name %></td>
			    <td><%= item.Mail %></td>
                <td>
                    <form action="/v1/removeentry/" method="DELETE">
						<input type="hidden" name="Mail" value="<%= item.Mail %>">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>

            <%
        }

        %>
    </tbody>
</table>